<div class="back-to-login">
    <button mat-raised-button (click)="navigateToLogin()">
        <mat-icon class="arrow-icon">arrow_back</mat-icon>
        <span class="back-text">Back to Login</span>
    </button>
</div>
<div class="contact-container">
    <div class="sections-wrapper">
        <div class="left-section">
            <div class="content-wrapper contact-content-wrapper">
                <div class="logo-wrapper" *ngIf="!isLoggedIn()">
                    <img src="/assets/images/logo.svg" alt="Logo" class="logo" />
                </div>
                <h2>{{ this.Header }}
                </h2>
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="form-grid">
                        <div class="form-item">
                            <p class="label">QFC Number <span class="asterisk">*</span></p>
                            <mat-form-field appearance="outline" class="form-field">
                                <input matInput formControlName="qfcNumber" placeholder="Enter your QFC Number" />
                                <mat-error *ngIf="resetPasswordForm.get('qfcNumber')?.invalid">
                                    QFC Number is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-item">
                            <p class="label">Email Address <span class="asterisk">*</span></p>
                            <mat-form-field appearance="outline" class="form-field">
                                <input matInput formControlName="email" placeholder="Enter your email address" />
                                <mat-error *ngIf="resetPasswordForm.get('email')?.invalid">
                                    Valid email is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-item" *ngIf="this.Step == 2">
                            <p class="label">Security Question <span class="asterisk">*</span></p>
                            <mat-form-field appearance="outline" class="form-field">
                                <mat-select formControlName="selectedQuestion" placeholder="Select">
                                    <mat-option *ngFor="let option of questions" [value]="option.wLoginQuestionTypeID">
                                        {{ option.loginQuestion }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-item" *ngIf="this.Step == 2">
                            <p class="label">Answer <span class="asterisk">*</span></p>
                            <mat-form-field appearance="outline" class="form-field">
                                <input matInput formControlName="answer"
                                    placeholder="Enter the answer to the question" />
                                <mat-error *ngIf="resetPasswordForm.get('answer')?.invalid">
                                    Answer is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-item" *ngIf="this.Step == 3">
                            <p class="label">New Password:</p>
                            <mat-form-field appearance="outline" class="form-field">
                                <input matInput type="password" formControlName="newPassword"
                                    placeholder="Enter new password" />
                                <mat-error *ngIf="resetPasswordForm.get('newPassword')?.invalid">
                                    New password is required.
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-item" *ngIf="this.Step == 3">
                            <p class="label">Confirm New Password:</p>
                            <mat-form-field appearance="outline" class="form-field">
                                <input matInput type="password" formControlName="confirmPassword"
                                    placeholder="Confirm new password" />
                                <mat-error *ngIf="passwordsDoNotMatch">
                                    Passwords do not match.
                                </mat-error>
                                <mat-error *ngIf="passwordsInvalid">
                                    Password should contain at least one upper case, one lower case and one number and
                                    the length between 8 to 14 characters.
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-item captcha-container full-width">
                            <div class="captcha-image">
                                <!-- <div class="g-recaptcha" data-sitekey="Your_Site_Key_Here"></div> -->
                                <div class="h-captcha" data-sitekey="1e587e86-fdf4-4872-9cc4-eebc536ebf2a"></div>
                            </div>
                        </div>
                    </div>

                    <div class="button-group">
                        <button mat-raised-button class="contact-button" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>