<nav class="navbar">
    <button
      mat-button
      routerLink="/home"
      [ngClass]="{ active: selectedPage === 'home' }"
      (click)="setActivePage('home')"
    >
      Home
    </button>
    <button
      mat-button
      routerLink="/reports"
      [ngClass]="{ active: selectedPage === 'reports' }"
      (click)="setActivePage('reports')"
    >
      Reports
    </button>
    <button
      mat-button
      routerLink="/notices"
      [ngClass]="{ active: selectedPage === 'notices' }"
      (click)="setActivePage('notices')"
    >
      Notices
    </button>
    <button
      mat-button
      routerLink="/system-access"
      [ngClass]="{ active: selectedPage === 'system-access' }"
      (click)="setActivePage('system-access')"
    >
      System Access
    </button>
  </nav>
  