<nav class="navbar">
  <div class="dropdown-container" (mouseleave)="closeDropdown()">
    <button
      mat-button
      routerLink="/home"
      [ngClass]="{ active: selectedPage === 'home' }"
      (click)="setActivePage('home')"
      (mouseenter)="openDropdown()"
    >
      Home
    </button>
    <!-- Dropdown Menu -->
    <div class="dropdown-menu" *ngIf="isDropdownOpen">
      <button
        mat-menu-item
        routerLink="/submission-records"
        (click)="setActivePage('submission-records')"
      >
        Submission Records
      </button>
    </div>
  </div>

  <button
    mat-button
    routerLink="/reports"
    [ngClass]="{ active: selectedPage === 'reports' }"
    (click)="setActivePage('reports')"
  >
    Reports
  </button>
  <button
    mat-button
    routerLink="/notices"
    [ngClass]="{ active: selectedPage === 'notices' }"
    (click)="setActivePage('notices')"
  >
    Notices
  </button>
  <button
    mat-button
    routerLink="/system-access"
    [ngClass]="{ active: selectedPage === 'system-access' }"
    (click)="setActivePage('system-access')"
  >
    System Access
  </button>
</nav>
