<app-header></app-header>
<app-navbar [selectedPage]="'create-new-user'"></app-navbar>
<!-- Add your component-specific HTML here -->
<div class="create-new-user">
  <div id="divLoginBody">
    <div class="modalBackground" *ngIf="isLoading">
      <label>Please wait...</label>
      <img src="assets/images/loading.gif" alt="Loading...">
    </div>
    <div>
      <div class="message-box" *ngIf="message">{{ message }}</div>
      <input type="hidden" [(ngModel)]="searchFlag" value="0">
      <table class="outerBodyStyle">
        <tr>
          <td>
            <div>
              <table class="innerBodyStyle">
                <tr>
                  <td>
                    <div>
                      <table class="TableColor">
                        <tr class="FormTableRow">
                          <td class="TextCellLeftMiddle">Firm Name:</td>
                          <td>
                            <select [(ngModel)]="selectedFirm" (change)="onFirmChange()">
                              <option *ngFor="let firm of firms" [value]="firm.value">{{ firm.text }}</option>
                            </select>
                          </td>
                          <td class="TextCellLeftMiddle">QFC Number:</td>
                          <td>
                            <input type="text" [(ngModel)]="qfcNumber" maxlength="5" autocomplete="off">
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
