<app-header></app-header>

<app-navbar [selectedPage]="'create-new-user'"></app-navbar>

<div class="create-user-container">
  <h2>Create User</h2>
  <form>
    <label for="emailAddress">Email Address:</label>
    <input type="text" id="emailAddress" [(ngModel)]="user.emailAddress" name="emailAddress">
    <label for="userName">User Name:</label>
    <input type="text" id="userName" [(ngModel)]="user.userName" name="userName" readonly>
    <label for="roles">User Privileges:</label>
    <div *ngFor="let role of roles">
      <label>
        <input type="checkbox" [(ngModel)]="user.roles" [value]="role" title="Select role">{{ role }}
      </label>
    </div>
    <label for="serviceRequestId">Service Request ID:</label>
    <input type="text" id="serviceRequestId" [(ngModel)]="user.serviceRequestId" name="serviceRequestId">
    <label for="note">Additional Note:</label>
    <textarea id="note" [(ngModel)]="user.note" name="note"></textarea>
    <button (click)="createUser()">Create User</button>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
    <p *ngIf="successMessage">{{ successMessage }}</p>
  </form>
</div>