<!-- <div class="sign-off-container">
    <div class="terms-text">
      {{ TermsText }}
    </div>
  
    <div class="form-group" *ngIf="ShowAcceptTermsCheckBox">
      <input type="checkbox" id="accept-terms" />
      <label for="accept-terms">I accept the Terms and Conditions</label>
    </div>
  
    <div class="form-group">
      <label for="registered-email">Registered Email:</label>
      <input
        id="registered-email"
        type="email"
        [(ngModel)]="RegisteredEmail"
        required
      />
    </div>
  
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        id="password"
        type="password"
        [(ngModel)]="Password"
        required
      />
    </div>
  
    <div class="actions">
      <button mat-raised-button color="primary" (click)="onSignOff()">
        Sign off
      </button>
      <button mat-button color="warn" (click)="onCancel()">Cancel</button>
    </div>
  </div>
   -->