.sign-off-container {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
  
    .dialog-body {
        flex: 1 1 auto; /* Body takes remaining space and allows scrolling if needed */
        overflow-y: auto; /* Enable scrolling for large content */
        padding: 20px;
      }
      
    .terms-text {
      margin-bottom: 20px;
      font-size: 1rem;
      line-height: 1.5;
      white-space: pre-wrap; /* To preserve line breaks */
    }
  
    .form-group {
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      gap: 10px;
  
      label {
        flex: 0 0 150px;
        font-weight: bold;
      }
  
      input[type='email'],
      input[type='password'] {
        flex: 1;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  
      input[type='checkbox'] {
        flex: 0;
      }
    }
  
    .actions {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
  
      button {
        min-width: 100px;
      }

      .signoff-button {
        background-color: #a51e36;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 8px;
  
        &:hover {
          background-color: #8c182d;
        }
      }
    }
  }
  