<div class="content-wrapper">
    <h2 class="content-title forms-submission">Following forms can be downloaded and submitted electronically</h2>
    <table mat-table [dataSource]="forms" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Forms </th>
            <td mat-cell *matCellDef="let form"> {{ form.name }} </td>
        </ng-container>

        <ng-container matColumnDef="download">
            <th mat-header-cell *matHeaderCellDef> Link to download form </th>
            <td mat-cell *matCellDef="let form">
                <button mat-button class="submit-button" [matTooltip]="form.downloadLink" [matTooltipPosition]="'above'"
                    (click)="downloadForm(form.id)">Download</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="submit">
            <th mat-header-cell *matHeaderCellDef> Link to Submit </th>
            <td mat-cell *matCellDef="let form">
                <button mat-button class="submit-button" color="primary" (click)="submitForm(form.id)">Submit to
                    RA</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>