<div class="dialog-container">
  <div class="dialog-header">
    <h1 mat-dialog-title class="dialog-title">
      <span class="label">Reference Number:</span>
      <span class="value">{{ data.wReferenceNumber }}</span>
      &nbsp;|&nbsp;
      <span class="label">Notice Number:</span>
      <span class="value">{{ data.wIssuersReferenceNumber }}</span>
    </h1>
    <button mat-icon-button class="close-button" (click)="onClose()">
      <span class="material-icons">close</span>
    </button>
  </div>
  <div class="dialog-body">
    <mat-tab-group class="custom-tab-group" (selectedIndexChange)="onTabChange($event)">
      <!-- Notice Details Tab -->
      <mat-tab label="Notice Details">
        <div class="tab-content">
          <table class="notice-details-table">
            <tbody>
              <tr>
                <td class="label">{{ AppConstants.Keywords.NoticeType}}:</td>
                <td>{{ data.wNoticeTypeDesc }}</td>
              </tr>
              <tr>
                <td class="label">Notice Name:</td>
                <td>{{ data.wNoticeName }}</td>
              </tr>
              <tr>
                <td class="label">Notice Issued By:</td>
                <td>{{ data.wNoticeIssuerShortName }}</td>
              </tr>
              <tr>
                <td class="label">Notice Issued Date:</td>
                <td>{{ data.wNoticeIssuedDate }}</td>
              </tr>
              <tr *ngIf="this.responseRequired">
                <td class="label">Response Due Date:</td>
                <td>{{ data.wResponseDueDate }}</td>
              </tr>
              <tr>
                <td class="label">Subject:</td>
                <td>{{ data.wSubject }}</td>
              </tr>
              <tr>
                <td class="label">References:</td>
                <td>{{ data.wReferences }}</td>
              </tr>
              <tr *ngIf="showLinkToNotice()">
                <td class="label">Link to Notice:</td>
                <td><a href="{{ data.wLinkToNotice }}">Link to Notice</a></td>
              </tr>
              <tr *ngIf="this.additionalAttachments.length > 0">
                <td class="label">Additional Attachment(s) (if any):</td>
                <td>
                  <div *ngIf="!this.additionalAttachmentsLoaded">Loading...</div>
                  <ul *ngIf="this.additionalAttachmentsLoaded">
                    <li *ngFor="let attachment of additionalAttachments">
                      <a [href]="attachment.fileURI" target="_blank" rel="noopener noreferrer">
                        {{ attachment.fileName }}
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>

              <tr>
                <td class="label">Link to Email Notification:</td>
                <td><a href="javascript:void(0)" (click)="openHtmlViewer()">View Email Notification</a>
                </td>
              </tr>
              <tr *ngIf="this.responseRequired">
                <td class="label">Sign-off Requirements:</td>
                <td>{{ data.wNoticeSignOffText }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>


      <!-- Questionnaire Tab -->
      <!-- Questionnaire Tab -->
      <mat-tab *ngIf="this.responseRequired" label="{{ 'Questionnaire (' + (noticeQuestions.length)}})">
        <app-notice-questions [noticeQuestions]="noticeQuestions" [noticeQuestionsLoaded]="noticeQuestionsLoaded"
          [ReadOnly]="ReadOnly" (unsavedChange)="onNoticeQuestionsChange()">
        </app-notice-questions>
      </mat-tab>

      <mat-tab *ngIf="this.responseRequired" label="Notes">
        <div class="tab-content">
          <div *ngIf="ReadOnly" class="notes-container">
            <p>{{ data.wNotes }}</p>
            <p *ngIf="data.wNotes == '' || !data.wNotes">No notes added.</p>
          </div>
          <textarea *ngIf="!ReadOnly" [(ngModel)]="data.wNotes" (ngModelChange)="onNotesChange()"></textarea>
        </div>
      </mat-tab>

      <!-- Attachments Tab -->
      <mat-tab *ngIf="this.responseRequired" label="Attachments">
        <div class="tab-content">
          <app-file-uploader [ShowHeaderPanel]="false" [ShowHeaderFormName]="false"
            [ObjectID]="this.FirmNoticeResponseObjectID" [ObjectInstanceID]="this.wFirmNoticeID"
            [ObjectInstanceRevNum]="1" [DocTypeID]="this.NoticeResponseFormTypeID"
            [FormTypeID]="this.NoticeResponseFormTypeID" [ShowPrimaryDoc]="false" [ReadOnly]="this.ReadOnly"
            (fileUploaded)="onFileUploaded($event)" (beforeUpload)="beforeFileUploaded()"></app-file-uploader>
        </div>
      </mat-tab>

      <!-- Signature Tab -->
      <mat-tab *ngIf="this.responseRequired" label="Signature">
        <div class="tab-content">
          <p *ngIf="this.rwSignatureInfoVisible">{{this.lblSignatureInfo}}</p>
          <p *ngIf="this.rwUsersVisible">{{this.lblUsers}}</p>
          <p><strong>Name of Individual:</strong> {{ this.signatoryName }}</p>
          <p><strong>Date Signed:</strong> {{ this.dateSigned }}</p>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="modal-footer" *ngIf="!ReadOnly">
    <button mat-icon-button class="animated-icon-button" (click)="navigateToTab(1)">
      <mat-icon>help</mat-icon>
      <span class="animated-text">Questionnaire</span>
    </button>
    <button mat-icon-button class="animated-icon-button-small" (click)="navigateToTab(2)">
      <mat-icon>comment</mat-icon>
      <span class="animated-text">Notes</span>
    </button>
    <button mat-icon-button class="animated-icon-button" (click)="navigateToTab(3)">
      <mat-icon>attach_file</mat-icon>
      <span class="animated-text">Attachments</span>
    </button>
    <button mat-icon-button class="animated-icon-button" (click)="navigateToTab(4)">
      <mat-icon>draw</mat-icon>
      <span class="animated-text">Signatories</span>
    </button>
    <button mat-icon-button class="animated-icon-button-small" (click)="onSave()">
      <mat-icon>save</mat-icon>
      <span class="animated-text">Save</span>
    </button>
    <button mat-icon-button class="animated-icon-button" (click)="onSaveAndClose()">
      <mat-icon>folder_check</mat-icon>
      <span class="animated-text">Save & Close</span>
    </button>
    <button mat-raised-button *ngIf="btnSubmitVisible" color="primary" class="btn" (click)="onSubmit()">
      <mat-icon>send</mat-icon> Submit
    </button>
     <button mat-raised-button *ngIf="btnSignOffVisible" color="primary" class="btn" (click)="onSignOff()">
      <mat-icon>send</mat-icon> Sign Off
    </button>
  </div>

</div>