<app-header></app-header>
<app-navbar [selectedPage]="'administration'"></app-navbar>



<div class="container">
  <h1>Administration</h1>
  <form [formGroup]="administrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id">ID:</label>
      <input type="text" id="id" formControlName="id" class="form-control" />
    </div>
    <div class="form-group">
      <label for="right">Right:</label>
      <input type="text" id="right" formControlName="right" class="form-control" />
    </div>
    <div class="form-group">
      <label for="actif">Actif:</label>
      <input type="checkbox" id="actif" formControlName="actif" class="form-check-input" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
