<header class="header">
  <div class="header-left">
    <div class="logo">
      <img src="/assets/images/logo.svg" alt="Organization Logo">
    </div>
    <div class="firm-info">
      <label>Firm Name: <span>{{ firmName }}</span></label>
    </div>
  </div>
  <div class="user-card">
    <!-- Help Icon with Tooltip -->
    <button class="action-button" (click)="navigateTo('contactus')" >
      <mat-icon>email</mat-icon>
      <span class="tooltip">Contact Us</span>
    </button>

    <!-- Logout Icon with Tooltip -->
    <button class="action-button" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span class="tooltip">Logout</span>
    </button>

    <mat-card class="profile-card">
      <div class="profile-details">
        <img class="avatar" src="assets/images/81.png" alt="User Avatar" />
        <div class="info">
          <h3 class="name">{{ name }}</h3>
          <p class="email">{{ email }}</p>
        </div>
        <div class="menu">
          <img src="../../../../../assets/images/more.svg" alt="" (click)="toggleMenu()" class="more-icon">
          <ul *ngIf="menuOpen" class="submenu">
            <li (click)="navigateTo('contactus')">Contact Us</li>
            <li (click)="navigateTo('resetpassword')">Change Password</li>
            <li (click)="navigateTo('changeemail')">Change Email</li>
            <li (click)="navigateTo('changequestion')">Change Security Questions</li>
            <li (click)="logout()">Logout</li>
          </ul>
        </div>
      </div>
    </mat-card>
  </div>
</header>
