.system-access-container {
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #a51e36;
    margin-bottom: 20px;
  }

  .table-content {
    ag-grid-angular {
      width: 100%;

      .ag-cell {
        white-space: normal !important;
        overflow: visible !important;
        text-overflow: clip !important;
        cursor: pointer;

        &:hover {
          background-color: #f7e4e9 !important; /* Light maroon */
        }
      }

      .ag-cell-tooltip {
        background-color: #ffffff;
        color: #555555;
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .footer-section {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    .btn-request {
      background-color: #a51e36;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 20px;
      border-radius: 5px;
      transition: all 0.3s ease;

      &:hover {
        background-color: #861624;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
      }
    }
  }

  /* Styles for revoke and info buttons */
  .btn-icon {
    background: transparent !important; 
    border: none !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 8px !important;
    border-radius: 50% !important;
    transition: background-color 0.3s ease !important;

    &:hover {
      background-color: #f7e4e9 !important; /* Light maroon background */
    }

    .revoke-icon {
      color: #a51e36 !important; /* Maroon color for revoke */
    }

    .info-icon {
      color: #555555 !important; /* Gray color for information */
    }
  }
}
