.tab-content {
  padding: 20px;
  p {
    margin: 10px 0;
    font-size: 1rem;
  }

  a {
    color: #a51e36;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: #861624;
    }
  }
}

.search-bar {
  width: 98%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  &:focus {
    outline: none;
    border-color: #a51e36;
    box-shadow: 0 0 5px rgba(165, 30, 54, 0.3);
  }
}

.question-card {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .card-header {
    background-color: rgb(233, 233, 233);
    color: black;
    padding: 10px 15px;
    border-radius: 8px 8px 0 0;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;

    strong {
      font-style: italic;
      color: #861624;
    }

    &.hover {
      background-color: #f0f0f0;
    }

    .toggle-icon {
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
      font-size: 1.2rem;
      color: #861624;
      transition: transform 0.3s ease;
      margin-left: 20px;
    }
  }

  .card-body {
    padding: 15px;

    p {
      margin: 5px 0;

      strong {
        color: #555555;
      }
    }
  }

  .response-input,
  .explanation-input {
    width: 95%;
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;

    &:focus {
      outline: none;
      border-color: #a51e36;
      box-shadow: 0 0 5px rgba(165, 30, 54, 0.3);
    }
  }

  .explanation-input {
    min-height: 80px;
    resize: vertical;
  }

  .required {
    color: red;
     font-weight: normal;
  }

  .inputRequired {
    background-color: #FFFACD
      /*#EEE8AA; PaleGoldenrod*/
  }

}