@use "@angular/material" as mat;

// .mdc-text-field__input{
//   padding-top: 10px !important; 
// }

// .mat-mdc-select{
//   padding-top: 10px !important; 
// }

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

mat-toolbar {
  background-color: #a51e36;
  color: #fff;
}

button.btn-outline-primary {
  outline: 1px solid #a51e36;
  color: #a51e36 !important;
  background-color: transparent;
  padding: 15px 20px;
}
mat-divider {
  width: 100%;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.22);
  box-sizing: border-box;
  height: 1px;
  margin: 16px 0 !important;
}
mat-card-header {
  background-color: #a51e36;

  color: #fff;
}

// .mat-mdc-form-field-infix {
//   padding: 0 !important;
// }

.mat-mdc-form-field-bottom-align::before {
  display: none !important;
}

mat-radio-button {
  .mat-mdc-radio-button {
    &.mat-mdc-radio-checked {
      .mat-mdc-radio-background {
        border-color: #a51e36 !important;
        background-color: #a51e36 !important;
      }
    }
  }
}
.asterisk {
  color: red;
}

.content {
  padding: 20px;
  background-color: #f4f4f4;

  .content-title {
    position: relative;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 30px;
    font-weight: 500;
    font-family: Montserrat;
    color: #121212;
    text-align: left;
    display: flex;
    align-items: center;
  }
  app-signoff-section,
  app-pending-submissions,
  app-general-communications,
  app-forms-submission {
    margin-bottom: 0px;
  }
  .forms-submission {
    background-color: #fff;
  }
}
.mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
  box-shadow: unset !important;
}
.content-wrapper {
  padding: 20px;
  border-radius: 7px;
  border: 1px solid #d1d1d1;
  background: #fff;
}
.overdue-title {
  color: #a51e36;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.32px;
}
.list-link {
  color: #2a2e33;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.32px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.list-item {
  border-bottom: 1px solid #e0e0e0;
  margin: 20px 0;
}
.content-wrapper {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;

  ul {
    list-style: none;
    padding: 0;

    li {
      a {
        text-decoration: underline 1px;

        &:hover {
        }
      }
    }
  }
}
:root {
  @include mat.badge-overrides(
    (
      background-color: #a51e36,
      // text-color: red,
    )
  );
}

/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */

/* position */
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */
.toast-title {
  font-weight: bold;
}
.toast-message {
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #ffffff;
}
.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  /* opacity: 0.8; */
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  box-sizing: border-box;
}
.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #ffffff;
}
.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
.toast-info {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTI1NiA4QzExOS4wNDMgOCA4IDExOS4wODMgOCAyNTZjMCAxMzYuOTk3IDExMS4wNDMgMjQ4IDI0OCAyNDhzMjQ4LTExMS4wMDMgMjQ4LTI0OEM1MDQgMTE5LjA4MyAzOTIuOTU3IDggMjU2IDh6bTAgMTEwYzIzLjE5NiAwIDQyIDE4LjgwNCA0MiA0MnMtMTguODA0IDQyLTQyIDQyLTQyLTE4LjgwNC00Mi00MiAxOC44MDQtNDIgNDItNDJ6bTU2IDI1NGMwIDYuNjI3LTUuMzczIDEyLTEyIDEyaC04OGMtNi42MjcgMC0xMi01LjM3My0xMi0xMnYtMjRjMC02LjYyNyA1LjM3My0xMiAxMi0xMmgxMnYtNjRoLTEyYy02LjYyNyAwLTEyLTUuMzczLTEyLTEydi0yNGMwLTYuNjI3IDUuMzczLTEyIDEyLTEyaDY0YzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MTAwaDEyYzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MjR6Jy8+PC9zdmc+");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
.toast-error {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTI1NiA4QzExOSA4IDggMTE5IDggMjU2czExMSAyNDggMjQ4IDI0OCAyNDgtMTExIDI0OC0yNDhTMzkzIDggMjU2IDh6bTEyMS42IDMxMy4xYzQuNyA0LjcgNC43IDEyLjMgMCAxN0wzMzggMzc3LjZjLTQuNyA0LjctMTIuMyA0LjctMTcgMEwyNTYgMzEybC02NS4xIDY1LjZjLTQuNyA0LjctMTIuMyA0LjctMTcgMEwxMzQuNCAzMzhjLTQuNy00LjctNC43LTEyLjMgMC0xN2w2NS42LTY1LTY1LjYtNjUuMWMtNC43LTQuNy00LjctMTIuMyAwLTE3bDM5LjYtMzkuNmM0LjctNC43IDEyLjMtNC43IDE3IDBsNjUgNjUuNyA2NS4xLTY1LjZjNC43LTQuNyAxMi4zLTQuNyAxNyAwbDM5LjYgMzkuNmM0LjcgNC43IDQuNyAxMi4zIDAgMTdMMzEyIDI1Nmw2NS42IDY1LjF6Jy8+PC9zdmc+");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
.toast-success {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTE3My44OTggNDM5LjQwNGwtMTY2LjQtMTY2LjRjLTkuOTk3LTkuOTk3LTkuOTk3LTI2LjIwNiAwLTM2LjIwNGwzNi4yMDMtMzYuMjA0YzkuOTk3LTkuOTk4IDI2LjIwNy05Ljk5OCAzNi4yMDQgMEwxOTIgMzEyLjY5IDQzMi4wOTUgNzIuNTk2YzkuOTk3LTkuOTk3IDI2LjIwNy05Ljk5NyAzNi4yMDQgMGwzNi4yMDMgMzYuMjA0YzkuOTk3IDkuOTk3IDkuOTk3IDI2LjIwNiAwIDM2LjIwNGwtMjk0LjQgMjk0LjQwMWMtOS45OTggOS45OTctMjYuMjA3IDkuOTk3LTM2LjIwNC0uMDAxeicvPjwvc3ZnPg==");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
.toast-warning {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1NzYgNTEyJyB3aWR0aD0nNTc2JyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTU2OS41MTcgNDQwLjAxM0M1ODcuOTc1IDQ3Mi4wMDcgNTY0LjgwNiA1MTIgNTI3Ljk0IDUxMkg0OC4wNTRjLTM2LjkzNyAwLTU5Ljk5OS00MC4wNTUtNDEuNTc3LTcxLjk4N0wyNDYuNDIzIDIzLjk4NWMxOC40NjctMzIuMDA5IDY0LjcyLTMxLjk1MSA4My4xNTQgMGwyMzkuOTQgNDE2LjAyOHpNMjg4IDM1NGMtMjUuNDA1IDAtNDYgMjAuNTk1LTQ2IDQ2czIwLjU5NSA0NiA0NiA0NiA0Ni0yMC41OTUgNDYtNDYtMjAuNTk1LTQ2LTQ2LTQ2em0tNDMuNjczLTE2NS4zNDZsNy40MTggMTM2Yy4zNDcgNi4zNjQgNS42MDkgMTEuMzQ2IDExLjk4MiAxMS4zNDZoNDguNTQ2YzYuMzczIDAgMTEuNjM1LTQuOTgyIDExLjk4Mi0xMS4zNDZsNy40MTgtMTM2Yy4zNzUtNi44NzQtNS4wOTgtMTIuNjU0LTExLjk4Mi0xMi42NTRoLTYzLjM4M2MtNi44ODQgMC0xMi4zNTYgNS43OC0xMS45ODEgMTIuNjU0eicvPjwvc3ZnPg==");
}
.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}
.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}

// button {
//   padding: 0.5rem 1rem;
//   border: none;
//   border-radius: 4px;
//   font-size: 1rem;
//   cursor: pointer;
//   transition: background-color 0.3s ease;
// }

.btn-close {
  background-color: #ccc;
  color: #333;
}
.btn-close:hover {
  background-color: #bbb;
}

.btn-request {
  background-color: #d9534f;
  color: #fff;
}
.btn-revoke{
  background-color: white;
  color: #d9534f;
}
.btn-revoke:hover{
  background-color: #d9534f;
  color:white ;
}
.btn-request:hover {
  background-color: #c9302c;
}

button.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* Responsive Design */
@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}

.toast-error {
  background-color: #a51e36 !important;
}

.mat-tab-group .mat-tab-label {
  color: #555555 !important;
  font-weight: bold !important;
}

.mat-tab-group .mat-tab-label-active {
  color: white !important;
  background-color: #a51e36 !important;
}

.mat-tab-group .mat-ink-bar {
  background-color: #a51e36 !important;
}

.btn-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 50%;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(165, 30, 54, 0.1); /* Light maroon background */
  }

  .material-icons {
    font-size: 24px;
    line-height: 1;
  }
}

.btn-revoke .material-icons {
  color: #a51e36; /* Maroon color for revoke */
}

.btn-info .material-icons {
  color: #555555; /* Gray color for information */
}



.dialog-header {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  /* Use sticky to keep the header within its parent scrolling container */
  top: 0;
  /* Sticks the header to the top of the viewport */
  z-index: 1000;
  /* Ensure the header stays on top of other content */
  background-color: white;
  /* Matches the background of the header */

  h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .dialog-title .label {
    font-weight: bold;
    margin-right: 5px;
    color: #a51e36;
  }

  .dialog-title .value {
    font-size: 1.3rem;
    /* Slightly smaller font size */
    margin-right: 15px;
  }

  h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .close-button {
    color: #a51e36;
  }
}
.response-required-row {
  background-color: rgba(255, 0, 0, 0.1);
  /* Light red background */
}

.response-required-row:hover {
  background-color: rgba(255, 0, 0, 0.2);
  /* Slightly darker on hover */
}

.heading {
  font-weight: bold;
  font-size: 14pt;
  font-family: 'Century Gothic';
  color: Maroon;
}

.headingQ03 {
  font-weight: bold;
  font-size: 14pt;
  font-family: 'Century Gothic';
  color: Maroon;
}

.headingQ03_WithoutBold {
  font-size: 14pt;
  font-family: 'Century Gothic';
  color: Maroon;
}

.subHeadingQ03 {
  font-weight: bold;
  font-family: 'Century Gothic';
  font-size: 12pt;
  color: Maroon;
}

.sectionHeadingQ03 {
  font-weight: bold;
  font-family: 'Century Gothic';
  font-size: 8pt;
  color: White;
}

.rowText {
  font-weight: bold;
  font-family: 'Century Gothic';
  font-size: 10pt;
  color: #3A4349;
}

.EmptyClass {}

.sectionInstructions {
  font-family: 'Century Gothic';
  font-size: 8pt;
  color: White;
}

.darkGrayNote {
  font-size: 10pt;
  font-family: 'Century Gothic';
  color: White;
  font-weight: bold;
}

.darkBlackNote {
  font-size: 10pt;
  font-family: 'Century Gothic';
  color: Black;
  font-weight: bold;
}

.numberOrder {
  height: 30px;
  font-size: 10pt;
  color: #3A4349;
  text-align: left;
  vertical-align: top;
  padding: 0px 0px 0px 10px;
  width: 30px;
  font-family: 'Century Gothic';
  font-weight: bold;
}

.TableColor {
  background-color: #D0D0D0;
  border: 1px solid;
}

.FormTableRow {
  background-color: #F0F0F0;
  border: 1px none #D0D0D0;
}

.HeaderTableStyle {
  background-color: Gray;
}

.HeaderRowStyle {
  background-color: #BCC7D8;
  height: 25px;
}

.HeaderTextStyle {
  font-family: 'Century Gothic';
  font-size: 10pt;
  color: Black;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  padding: 0px 10px 3px 3px;
}

.ItemTableStyle {
  background-color: Gray;
}

.ItemRowStyle {
  background-color: #F0F0F0;
}

.SigItemStyle {
  font-family: 'Century Gothic';
  font-size: 10pt;
  color: #3A4349;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  padding: 0px 10px 3px 3px;
  height: 18px;
}

.SigItemStyleWithBorder {
  font-family: 'Century Gothic';
  font-size: 10pt;
  color: #3A4349;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  padding: 0px 10px 3px 3px;
  height: 18px;
  border-right: 1px solid gray;
}

.ItemTextStyle {
  font-family: 'Century Gothic';
  font-size: 10pt;
  color: #3A4349;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  padding: 0px 10px 3px 3px;
  height: 18px;
}

.ItemTextStyleWithBorder {
  font-family: 'Century Gothic';
  font-size: 10pt;
  color: #3A4349;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  padding: 0px 10px 3px 3px;
  height: 18px;
  border-right: 1px solid gray;
}

.ListItemTextStyle {
  font-family: 'Century Gothic';
  font-size: 10pt;
  color: #3A4349;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  padding: 0px 10px 3px 3px;
  height: 25px;
}

.Information {
  font-size: 8pt;
  color: #3A4349;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
  font-family: 'Century Gothic';
}

.HelpInformation {
  font-size: 9pt;
  color: #3A4349;
  text-align: left;
  vertical-align: top;
  font-family: 'Century Gothic';
  font-style: italic;
  padding-left: 10px;
}

.HelpInformationNoItalic {
  font-size: 9pt;
  color: #3A4349;
  text-align: left;
  vertical-align: top;
  font-family: 'Century Gothic';
  padding-left: 10px;
}

.outerLeftMargin {
  width: 5%;
}

.outerRightMargin {
  width: 5%;
}

.innerLeftMargin {
  width: 10px;
}

.innerRightMargin {
  width: 10px;
}

.outerBodyStyle {
  background-color: #F2F4F5;
}

.outerTopMargin {
  width: 10px;
}

.outerBottomMargin {
  width: 10px;
}

.innerBodyStyle {
  background-color: White;
  border: solid 1pt Maroon;
}

.verticalSeperator {
  width: 0.01%;
  background-color: Black;
}

.sectionBorderRptSch {
  border: 1px solid Maroon;
}

.sectionHeadingRptSch {
  height: 25px;
  padding-left: 10px;
  background-color: Gray;
  border: 1px solid Black;
  font-weight: bold;
  font-family: 'Century Gothic';
  font-size: 10pt;
  color: White;
}

.subHeadingRptSch {
  padding-left: 3px;
  height: 20px;
  font-weight: bold;
  font-family: 'Century Gothic';
  font-size: 10pt;
}

.RepSubItemTableStyle {
  background-color: White;
}

.RepItemTableStyle {
  background-color: Gray;
}

.RepItemRowStyle {
  background-color: White;
}

.RepItemSubRowStyle {
  background-color: #CCC8C8;
}

.ReportGap {
  height: 10px;
}

.RepItemTextStyle {
  font-family: 'Century Gothic';
  font-size: 10pt;
  color: #3A4349;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  padding: 0px 10px 3px 3px;
  height: 20px;
}

.RepItemContentStyle {
  font-family: 'Century Gothic';
  font-size: 10pt;
  color: #3A4349;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  padding: 0px 10px 3px 3px;
  height: 20px;
  width: 200px;
}

.RepItemDataStyle {
  font-family: 'Century Gothic';
  font-size: 10pt;
  color: #000000;
  text-align: left;
  vertical-align: middle;
  padding: 0px 10px 3px 3px;
  height: 20px;
}

.ButtonColumnStyle {
  padding: 3px 10px 3px 10px;
  width: 90px;
  border-bottom: 1px solid Gray;
  border-top: 1px solid Gray;
  border-right: 1px solid Gray;
  text-align: center;
}

.InfoItemTextStyle {
  font-family: 'Century Gothic';
  font-size: 10pt;
  color: Red;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  padding: 0px 10px 3px 3px;
  height: 20px;
}

.YetNotDueReport {
  background-color: White;
}

.PendingReport {
  background-color: White;
}

.OverDueReport {
  background-color: White;
}

.SubmittedReport {
  background-color: White;
}

.HighlightReport {
  background-color: #E1EFF4;
}

.BTN_LightGray {
  font-family: 'Century Gothic';
  cursor: pointer;
  font-size: 10pt;
  font-weight: bold;
  height: 25px;
}

.GrayRowBackground {
  background-color: #F0F0F0;
  background-repeat: repeat repeat-x;
}

.dividerWithLine {
  border-bottom-color: Maroon;
  border-bottom-width: thin;
  border-bottom-style: solid;
}

.dividerThickLine {
  background-color: Maroon;
  height: 2px;
}

.linkButtonGray {
  color: Black;
  font-size: 8pt;
  font-weight: bold;
  font-family: 'Century Gothic';
}

a {
  text-decoration: none;
}

.BTN_LightMaroon {
  background-color: #B3525E;
  border: solid 0px #B3525E;
  font-weight: bold;
  color: #FFFFFF;
  font-family: 'Century Gothic';
  cursor: pointer;
  height: 25px;
  border: solid 1.5pt White;
  width: 90px;
}

.BTN_LightMaroon_New {
  background-color: #CA747D;
  border: solid 0px #CA747D;
  font-weight: bold;
  color: #FFFFFF;
  font-family: 'Century Gothic';
  cursor: pointer;
  height: 25px;
  border: solid 1.5pt White;
}

.TextOnlyCellLeft {
  height: 25px;
  font-family: 'Century Gothic';
  font-size: 10pt;
  color: #3A4349;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  padding: 0px 10px 3px 3px;
  width: 18%;
}

.TextOnlyCellRight {
  height: 25px;
  font-family: 'Century Gothic';
  font-size: 10pt;
  color: #3A4349;
  font-weight: bold;
  text-align: right;
  vertical-align: inherit;
  padding: 0px 10px 3px 3px;
  width: 18%;
}

.TextCellLeft {
  height: 20px;
  font-family: 'Century Gothic';
  font-size: 8pt;
  color: #3A4349;
  font-weight: bold;
  text-align: right;
  vertical-align: middle;
  padding: 0px 10px 3px 0px;
  width: 200px;
}

.TextCellRight {
  height: 25px;
  font-family: 'Century Gothic';
  font-size: 10pt;
  color: #000000;
  text-align: Left;
  vertical-align: middle;
  padding: 0px 0px 0px 5px;
  width: 250px;
}

.TextCellLeftTop {
  height: 25px;
  font-size: 8pt;
  color: #3A4349;
  font-weight: bold;
  text-align: Left;
  vertical-align: top;
  padding: 0px 0px 0px 10px;
  font-family: 'Century Gothic';
}

.TextCellRightTop {
  height: 25px;
  font-family: 'Century Gothic';
  font-size: 10pt;
  color: #000000;
  text-align: Left;
  vertical-align: top;
  padding: 0px 0px 0px 10px;
}

.TextCellLeftMiddle {
  height: 25px;
  font-size: 8pt;
  color: #3A4349;
  font-weight: bold;
  text-align: Left;
  vertical-align: middle;
  padding: 0px 0px 0px 10px;
  font-family: 'Century Gothic';
}

.TextCellMiddle {
  font-size: 9pt;
  color: #3A4349;
  text-align: center;
  vertical-align: middle;
  font-family: 'Century Gothic';
  background-color: #FAFAD2;
}

.TextCellMiddleWithoutBG {
  font-size: 9pt;
  color: #3A4349;
  text-align: center;
  vertical-align: middle;
  font-family: 'Century Gothic';
}

.TextCellRightMiddle {
  height: 25px;
  font-family: 'Century Gothic';
  font-size: 10pt;
  color: #000000;
  text-align: Left;
  vertical-align: middle;
  padding: 0px 0px 0px 10px;
}

.TextCellLeftFitness {
  height: 25px;
  font-size: 8pt;
  color: #3A4349;
  font-weight: bold;
  text-align: Left;
  vertical-align: top;
  padding: 5px 5px 5px 5px;
  font-family: 'Century Gothic';
  width: 78%;
}

.MenuBackColor {
  background-color: White;
}

.dividerWithWhiteLine {
  border-bottom-color: White;
  border-bottom-width: thin;
  border-bottom-style: solid;
}

.DatesStyle {
  font-size: 8pt;
  color: #3A4349;
  vertical-align: middle;
  font-family: 'Century Gothic';
}

.Form {
  padding: 7px 10px 7px 10px;
  background-color: #F7F7F7;
  color: #FC6343;
  border: solid 1px maroon;
}

.FormForGridView {
  padding: 7px 10px 7px 10px;
  background-color: #F2F7F7;
  color: #FC6343;
}

.FormTxt {
  font-size: 8pt;
  color: #333333;
  text-align: center;
}

.PopupCloseTxt {
  font-size: 10pt;
  text-align: right;
  color: blue;
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Century Gothic';
}

.FormText {
  height: 25px;
  font-family: 'Century Gothic';
  font-size: 10pt;
  color: #3A4349;
  font-weight: lighter;
  text-align: left;
  vertical-align: middle;
  padding: 0px 10px 3px 0px;
  width: 800px;
}

.NotYetRegistered {
  height: 25px;
  font-family: 'Century Gothic';
  font-size: 10pt;
  color: #3A4349;
  font-weight: bold;
  text-align: right;
  vertical-align: inherit;
  padding: 1px 3px 1px 3px;
}

.errMessageSmall {
  color: Red;
  font-size: 10pt;
}

.GridView {
  border: none;
  border-color: White;
  border-width: thin;
}

.GridRow {
  border: none;
  background-color: #fffbd6;
  font-size: 10pt;
  font-family: 'Century Gothic';
  color: #333333;
  text-align: left;
}

.GridSelectedRow {
  background-color: Maroon;
  font-size: 10pt;
  color: White;
}

.GridHeader {
  background-color: #BCC7D8;
  font-weight: bold;
  color: Black;
  font-size: 10pt;
  font-family: 'Century Gothic';
  text-align: left;
}

.GridFooter {
  background-color: #CCCC99;
  font-size: 10pt;
  font-family: 'Century Gothic';
}

.GridPager {
  background-color: #D4D0C8;
  color: Black;
  font-size: 10pt;
  font-family: 'Century Gothic';
  font-weight: bold;
}

.GridPager span {
  text-decoration: underline overline;
  font-weight: bold;
  font-size: 12pt;
}

.myHiddenPanel {
  display: none;
}

.TextCellLeftWith60Pad {
  height: 25px;
  font-family: 'Century Gothic';
  font-size: 8pt;
  color: #3A4349;
  font-weight: bold;
  text-align: right;
  vertical-align: middle;
  padding: 0px 10px 3px 0px;
  width: 200px;
  padding-left: 30px;
}

.TextCellLeftWith80Pad {
  height: 25px;
  font-family: 'Century Gothic';
  font-size: 8pt;
  color: #3A4349;
  font-weight: bold;
  text-align: right;
  vertical-align: middle;
  padding: 0px 10px 3px 0px;
  width: 200px;
  padding-left: 45px;
}

.modal {
  background-color: Gray;
  filter: alpha(opacity=40);
  opacity: 0.7;
}

.dividerWithGrayLine {
  border-bottom-color: #D0D0D0;
  border-bottom-width: thin;
  border-bottom-style: solid;
}

.TextCellLeftWithoutPadding {
  height: 25px;
  font-family: 'Century Gothic';
  font-size: 8pt;
  color: #3A4349;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  width: 200px;
}

.subMenuSelected {
  background-color: White;
}

.sectionHeading {
  padding-left: 10px;
  background-color: Gray;
  border: solid 1.5pt White;
  height: 20px;
}

.subMenuItemLink {
  color: Black;
}

.helpButton {
  width: 20px;
  height: 20px;
  text-align: right;
  padding-right: 5px;
}

.questionSection {
  padding-left: 9px;
  background-color: #D0D0D0;
  border: solid 1.5pt White;
  height: 20px;
}

.addMoreQuestionSection {
  padding-left: 8px;
  background-color: #BCC7D8;
  border: solid 1.5pt White;
  height: 20px;
}

.questionSectionText {
  font-family: 'Century Gothic';
  font-size: 8pt;
  color: #3A4349;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}

.addQuestionSectionText {
  font-family: 'Century Gothic';
  font-size: 8pt;
  color: #3A4349;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}

