<div class="dialog-container">
    <div class="dialog-header">
      <h1 mat-dialog-title class="dialog-title">
        <span class="label">{{ data.Form }}</span>
      </h1>
      <button mat-icon-button class="close-button" (click)="onClose()">
        <span class="material-icons">close</span>
      </button>
    </div>
    <div class="dialog-body">
      <mat-tab-group class="custom-tab-group">
        <!-- Applicant Details Tab -->
        <!-- Attachments Tab -->
        <mat-tab label="Attachments">
          <div class="tab-content">
            <app-file-uploader
              [ShowHeaderPanel]="true"
              [ShowHeaderFormName]="true"
              [ObjectID]="this.GenSubObjectID"
              [ObjectInstanceID]="this.GenSubID"
              [ObjectInstanceRevNum]="1"
              [DocTypeID]="this.data.DocTypeId"
              [FormTypeID]="this.data.WIndFromTypeID"
              [ShowPrimaryDoc]="true"
              [DocSignText]="this.DocSignText"
              [ReportFormName]="data.Form"
              (fileUploaded)="onFileUploaded($event)"
              (ObjectInstanceIDChange)="onObjectInstanceIDChange($event)"
              (beforeUpload)="beforeFileUploaded()"
              [ReadOnly]="this.ReadOnly"
            ></app-file-uploader>
          </div>
        </mat-tab>

        <mat-tab label="Notes">
            <div class="tab-content">
              <div *ngIf="ReadOnly" class="notes-container">
                <p>{{ this.Comments }}</p>
                <p *ngIf="this.Comments == '' || !this.Comments">No notes added.</p>
              </div>
              <textarea *ngIf="!ReadOnly" [(ngModel)]="this.Comments" (ngModelChange)="onNotesChange()"></textarea>
            </div>
          </mat-tab>

          <mat-tab label="Signature">
            <div class="tab-content">
              <p *ngIf="this.showSignOffMessage">{{this.SignOffMessage}}</p>
              <p><strong>Name of Individual: </strong> {{ this.txtSignatoryName }} </p>
              <p><strong>Date Signed: </strong> {{ this.txtDateSigned }}</p>
            </div>
          </mat-tab>
      </mat-tab-group>
    </div>
    <div class="modal-footer" *ngIf="!ReadOnly">
      <button mat-icon-button class="animated-icon-button" (click)="navigateToTab(0)">
        <mat-icon>attach_file</mat-icon>
        <span class="animated-text">Attachments</span>
      </button>
      <button mat-icon-button class="animated-icon-button" (click)="navigateToTab(2)">
        <mat-icon>draw</mat-icon>
        <span class="animated-text">Signatories</span>
      </button>
      <button mat-icon-button class="animated-icon-button-small" (click)="onSave()">
        <mat-icon>save</mat-icon>
        <span class="animated-text">Save</span>
      </button>
      <button mat-icon-button class="animated-icon-button" (click)="onSaveAndClose()">
        <mat-icon>folder_check</mat-icon>
        <span class="animated-text">Save & Close</span>
      </button>
      <button *ngIf="SubmitVisible" mat-raised-button color="primary" class="btn" (click)="onSubmit()">
        <mat-icon>send</mat-icon> {{SubmitLabel}}
      </button>
    </div>
  </div>
  