<app-header *ngIf="isLoggedIn()"></app-header>
<app-navbar *ngIf="isLoggedIn()"></app-navbar>

<div class="back-to-login" *ngIf="!isLoggedIn()">
    <button mat-raised-button (click)="navigateToLogin()">
      <mat-icon class="arrow-icon">arrow_back</mat-icon>
      <span class="back-text">Back to Login</span>
    </button>
  </div>
  <div class="reset-password-container">
    <div class="content-wrapper">
      <div class="logo-wrapper" *ngIf="!isLoggedIn()">
        <img src="/assets/images/logo.svg" alt="Logo" class="logo" />
      </div>
      <h2>Change <span>Password</span></h2>
      <p class="subtext">
        Please fill out the form below to update your password.
      </p>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-grid">
          <div class="form-item">
            <p class="label">Registered Email:</p>
            <mat-form-field appearance="outline" class="form-field">
              <input matInput formControlName="email" [readonly]="true" />
            </mat-form-field>
          </div>
  
          <div class="form-item">
            <p class="label">Old Password:</p>
            <mat-form-field appearance="outline" class="form-field">
              <input matInput type="password" formControlName="oldPassword" placeholder="Enter old password" />
              <mat-error *ngIf="resetPasswordForm.get('oldPassword')?.invalid">
                Old password is required.
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="form-item">
            <p class="label">New Password:</p>
            <mat-form-field appearance="outline" class="form-field">
              <input matInput type="password" formControlName="newPassword" placeholder="Enter new password" />
              <mat-error *ngIf="resetPasswordForm.get('newPassword')?.invalid">
                New password is required.
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="form-item">
            <p class="label">Confirm New Password:</p>
            <mat-form-field appearance="outline" class="form-field">
              <input
                matInput
                type="password"
                formControlName="confirmPassword"
                placeholder="Confirm new password"
              />
              <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.invalid">
                Confirmation password is required.
              </mat-error>
              <mat-error *ngIf="passwordsDoNotMatch">
                Passwords do not match.
              </mat-error>
              <mat-error *ngIf="passwordsInvalid">              
                Password should contain at least one upper case, one lower case and one number and the length between 8 to 14 characters.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="button-group">
            <button mat-raised-button class="save-button" type="submit">
              Submit
            </button>
            <button mat-button class="cancel-button" type="button" (click)="onCancel()">Cancel</button>
          </div>
      </form>
    </div>
  </div>
  